*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head{
    background-color: #dfd9d9;
    
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 800px;
height: 75%;
border-radius: 18px;
box-shadow: 0 7px 15px rgb(0, 0, 0);


}
body{
    overflow: hidden;
}
ul {
    list-style: none;
}
.header ul li{
    /* display: flex; */
    display: inline-block;
    margin: 10px;
}
.header{
    margin: 27px;
    
}
.align{
    display: flex;
}
.align .right{
    /* position: absolute; 
    right: 0;
    width: 70%;
    
    margin: 10px;
     */
    font-size: 10px;
    float: right;
    width: 60%;
}
.left{
background-color: blue;
    
    /* height: 80%; */
    /* position: absolute;
    left: 0; */
    width: 30%;
    float: left;
padding: 75px;
height: 78%;
border-bottom-left-radius: 20px;
text-align: center;
}
.left ul{
    margin: 10px;
    /* padding: 2px; */
}
.left ul li{
    padding: 10px;
}
.left ul a{
    text-decoration: none;
    color: black;
}
.header ul a{
    text-decoration: none;
    color: black;
    
    /* height: 20px; */
    padding: 10px;
}
.header ul a:hover{
transition: 1s;
background-color: black;
color: #fff;

}